<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hibrido" translate="label" sortOrder="400">
            <label>Hibrido</label>
        </tab>
        <section id="hibrido_theme" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Theme</label>
            <tab>hibrido</tab>
            <resource>Hibrido_Task2::button_color_config</resource>
            <group id="buttons" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Buttons</label>
                <field id="color" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color</label>
                </field>
            </group>
        </section>
    </system>
</config>
